/* Ant Design (antd) customizations

   antd is a design library that is used to create React components.
   The following CSS overrides ant's default values.

   Note that for any ANT design buttons, we need to use the !important tag to 
   override their CSS classes.
*/

.ant-btn-primary {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	color: #05005b !important;
}

.ant-btn-primary:hover {
	background-color: #05005b !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}

/* Header design specifications */

#header-container {
	width: 100%;
	height: 120px;
	display: flex;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(5,0,91,1) 100%);
}

	#logo-container {
		width: 30%;
		min-width: 300px;
		display: flex;
	}

		#logo-img-header {
			height: 100px;
			width: 100px;
			margin: 10px;
			margin-left: 60px;
		}

		#logo-text-header {
			margin: 0px;
			padding-top: 30px;
			font-size: 36px;
			font-weight: bold;
			color: white;
		}

	#menu-container {
		width: 55%;
		min-width: 535px;
		padding-right: 60px;
		text-align: right;
	}

		.menu-item {
			margin: 0px;
			padding-top: 50px;
			margin-left: 60px;
			font-size: 18px;
		}

		/* Setting the hover color to white to override React CSS properties */
		.menu-item:hover {
			color: white;
		}

	#signin-container {
		width: 15%;
		min-width: 200px;
		margin-top: 45px;
		align-items: right;
	}

/* Section One (homepage) design specifications */

#section-one {
	width: 100%;
	height: 600px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(5,0,91,1) 100%);
	padding-left: 80px;
}

	#section-one-large-text {
		padding-top: 90px;
		margin-bottom: 40px;
		max-width: 60%;
		font-size: 50px;
		color: #ffffff;
	}

	#get-started-btn {
		background-color: #05005b !important;
		border-color: #ffffff !important;
		color: #ffffff !important;
	}

	.ant-btn-primary:hover {
		background-color: #ffffff !important;
		border-color: #ffffff !important;
		color: #05005b !important;
	}

	#buy-mdt-btn {
		background-color: #d97c00 !important;
		border-color: white !important;
		color: white !important;
		margin-left: 20px; 
	}

	#buy-mdt-btn:hover {
		background-color: white !important;
		border-color: #d97c00 !important;
		color: #d97c00 !important;
	}

/* Section two (homepage) design specifications */

#section-two {
	background: white;
	width: 100vw;
	height: 600px;
}

/* Full page login design specifiation */

#fullscreen-login-container {
	text-align: center;
	height: 100vh;
	padding-top: 40vh;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(5,0,91,1) 100%);
}

#logo-img-fullscreen-login {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

/* Animations sourced from the internet */

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: white;
}
  
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}