/* Ant Design (antd) customizations

   antd is a design library that is used to create React components.
   The following CSS overrides ant's default values.
*/

.ant-btn-primary {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #05005b;
}

.ant-btn-primary:hover {
	background-color: #05005b;
	border-color: #ffffff;
	color: #ffffff
}

/* Section One (homepage) design specifications */

#section-one {
	width: 100%;
	height: 700px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(5,0,91,1) 100%);
}

	#section-one-large-text {
		padding-left: 80px;
		padding-top: 90px;
		max-width: 70%;
		font-size: 50px;
		color: #ffffff;
	}

/* Header design specifications */

#header-container {
	width: 100vw;
	height: 120px;
	display: flex;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(5,0,91,1) 100%);
}

	#logo-container {
		width: 30vw;
		min-width: 300px;
		display: flex;
	}

		#logo-img-header {
			height: 100px;
			width: 100px;
			margin: 10px;
			margin-left: 60px;
		}

		#logo-text-header {
			margin: 0px;
			padding-top: 30px;
			font-size: 36px;
			font-weight: bold;
			color: white;
		}

	#menu-container {
		width: 55vw;
		min-width: 535px;
		padding-right: 60px;
		text-align: right;
	}

		.menu-item {
			display: inline-block;
			margin: 0px;
			padding-top: 50px;
			margin-left: 60px;
			font-size: 18px;
		}

	#signin-container {
		width: 15vw;
		min-width: 200px;
		margin-top: 45px;
		align-items: right;
	}

/* Full page login design specifiation */

#fullscreen-login-container {
	text-align: center;
	height: 100vh;
	padding-top: 40vh;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(5,0,91,1) 100%);
}

#logo-img-fullscreen-login {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

/* Animations sourced from the internet */

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: white;
}
  
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}