/* Ant Design (antd) customizations

   antd is a design library that is used to create React components.
   The following CSS overrides ant's default values.

   Note that for any ANT design buttons, we need to use the !important tag to 
   override their CSS classes.
*/

.ant-btn-primary {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	color: #05005b !important;
}

.ant-btn-primary:hover {
	background-color: #05005b !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}

/* Global classes for design consistency */

.gradient-background {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(7,0,117,1) 66%, rgba(7,0,136,1) 100%);
}

/* Header design specifications */

#header-container {
	width: 100%;
	height: 120px;
	display: flex;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(7,0,117,1) 66%, rgba(7,0,136,1) 100%);
}

	#logo-container {
		width: 30%;
		min-width: 300px;
		display: flex;
	}

		#logo-img-header {
			height: 100px;
			width: 100px;
			margin: 10px;
			margin-left: 60px;
		}

		#logo-text-header {
			margin: 0px;
			padding-top: 30px;
			font-size: 36px;
			font-weight: bold;
			color: white;
		}

	#menu-container {
		width: 55%;
		min-width: 535px;
		padding-right: 60px;
		text-align: right;
	}

		.menu-item {
			margin: 0px;
			padding-top: 50px;
			margin-left: 60px;
			font-size: 18px;
		}

		/* Setting the hover color to white to override React CSS properties */
		.menu-item:hover {
			color: white;
		}

	#signin-container {
		width: 15%;
		min-width: 200px;
		margin-top: 45px;
		align-items: right;
	}

/* Section One (homepage) design specifications */

#section-one {
	width: 100%;
	height: 600px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,0,65,1) 41%, rgba(7,0,117,1) 66%, rgba(7,0,136,1) 100%);
	padding-left: 80px;
}

	#section-one-large-text {
		padding-top: 90px;
		margin-bottom: 15px;
		max-width: 60%;
		font-size: 50px;
		color: #ffffff;
	}

	#section-one-small-text {
		font-size: 28px;
		font-weight: lighter;
		color: white;
		margin-bottom: 40px;
	}

	#get-started-btn {
		background-color: #05005b !important;
		border-color: #ffffff !important;
		color: #ffffff !important;
	}

	#buy-mdt-btn {
		background-color: #d97c00 !important;
		border-color: white !important;
		color: white !important;
		margin-left: 20px; 
	}

	#buy-mdt-btn:hover {
		background-color: white !important;
		border-color: #d97c00 !important;
		color: #d97c00 !important;
	}

/* Section two (homepage) design specifications */

#section-two {
	background: white;
	width: 100vw;
	height: 700px;
}

	#s2-title-container {
		margin-top: 150px;
		margin-bottom: 60px;
		width: 100%;
		text-align: center;
	}

	#s2-title-text {
		font-size: 34px;
		font-weight: bolder;
		align-self: center;
	}

	.s2-box {
		margin-top: 50px;
		text-align: center;
		border-radius: 5%;
		border: 1px solid rgb(215, 215, 215);
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		padding-bottom: 40px;
		transition: all .5s ease-in-out;
	}

	.s2-box:hover {
		margin-top: 40px;
	}

	.s2-image {
		width: 70%;
	}

	.s2-text {
		font-size: 22px;
	}

/* Transition between section two and section three */

#st-overlay {
	width: 100%;
	height: 200px;
	border-radius: 50%;
	background-color: white;

	z-index: initial;
}

#st-underlay {
	width: 100%;
	height: 100px;
	background-color: #d97c00;
	
	position: relative;
	z-index: -1;
}

/* Section three (homepage) design specifications */

#s3-container {
	width: 100%;
	background-color: #d97c00;
	height: 1000px;
}

	#s3-title-text {
		font-size: 35px;
		font-weight: bolder;
		color: white;
		max-width: 70%;
		margin-top: 90px;
	}

	.s3-box {
		background-color: #fff1df;
		border-radius: 8%;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
		transition: all .5s ease-in-out;
		padding: 60px;
		min-width: 785px;
		height: 620px;
	}

		#s3-medal-container {
			display: flex;
			height: 30%;
			width: 100%;
		}

			#s3-medal-icon {
				height: 100%;
			}

			#s3-medal-text {
				padding-left: 40px;
				padding-top: 25px;
				font-weight: light;
				font-size: 30px;
			}

		#s3-text-container {
			padding-top: 50px;
			height: 70%;
		}

/* Footer */

#footer-line {
	height: 1px;
	background: #cab191;

	margin-right: 40px;
	margin-left: 40px;
}

#footer-container {
	height: 120px;
	background: #d97c00;
}

/* Animations sourced from the internet */

/* Hover line animation for main menu */

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: white;
}
  
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}